<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement" search:require="Azure">
    <contentSearch>
      <!-- The default search service needs to be renamed 'innerSearchService'. If you have a hotfix applied to 'searchService', 
      it will need to be changed to patch 'innerSearchService' instead -->
      <!--
      <innerSearchService type="Sitecore.ContentSearch.Azure.Http.SearchService, Sitecore.ContentSearch.Azure">
        <param desc="availabilityManager" ref="contentSearch/availabilityManager" />
        <param desc="documentOperations" ref="contentSearch/searchServiceClient" />
        <param desc="schemaSynchronizer" ref="contentSearch/schemaSynchronizer" />
        <param desc="schemaUpdateInterval">00:00:20</param>
      </innerSearchService>
       -->

      <cloudBatchBuilder
        set:type="Community.Sitecore.ContentSearch.Azure.TransparentCloudBatchBuilder, Community.Sitecore.ContentSearch.Azure"
      />

      <searchService type="Community.Sitecore.ContentSearch.Azure.TruncatingSearchService, Community.Sitecore.ContentSearch.Azure" patch:instead="searchService[@type]">
        <param ref="contentSearch/innerSearchService" desc="innerService" />
      </searchService>
    </contentSearch>
  </sitecore>
</configuration>