<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="Azure">
    <contentSearch>
      <configuration>
        <!--
        The default index configuration allows both ContentManagement and ContentDelivery to perform index update operations on all indexes.
        This patch will disable index updates on ContentDelivery roles for any web indexes. 
        This patch is tested and working in Sitecore 9.0.2+, however for Sitecore 9.0.1 it will not work due to a bug in the config patching mechanism.
        Note that if you also have other indexes (such as SXA or custom) you should add them here too.
        -->
        <indexes hint="list:AddIndex">
          <index id="sitecore_web_index">
            <strategies hint="list:AddStrategy" patch:instead="strategies">
              <strategy role:require="Standalone OR ContentManagement" ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"  />
              <strategy role:require="ContentDelivery" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual"/>
            </strategies>
          </index>
          <index id="sitecore_marketing_asset_index_web">
            <strategies hint="list:AddStrategy" patch:instead="strategies">
              <strategy role:require="Standalone OR ContentManagement" ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"  />
              <strategy role:require="ContentDelivery" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual"/>
            </strategies>
          </index>
          <index id="sitecore_marketingdefinitions_web">
            <strategies hint="list:AddStrategy" patch:instead="strategies">
              <strategy role:require="Standalone OR ContentManagement" ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"  />
              <strategy role:require="ContentDelivery" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual"/>
            </strategies>
          </index>
          <index id="sitecore_fxm_web_index">
            <strategies hint="list:AddStrategy" patch:instead="strategies">
              <strategy role:require="Standalone OR ContentManagement" ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync"  />
              <strategy role:require="ContentDelivery" ref="contentSearch/indexConfigurations/indexUpdateStrategies/manual"/>
            </strategies>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>